/*
--------------
RESET---------
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------
VARIABILI-----
--------------
*/

/*
--------------
TIPOGRAFIA----
--------------
*/

body {
    font-family: 'Lucida Sans', Arial, sans-serif;
}

/*
--------------
COMMON--------
--------------
*/
.box-container {
    padding: 50px 0;
}
.container-flex {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: calc(( 100% - 40px ) / 3);
    position: relative;
}

h2 {
    font-size: 18px;
    line-height: 24px;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
}

.saletext {
    color: red;
    font-weight: 700;
}

.price {
    text-decoration: line-through;
}

i {
padding: 12px;
    display: inline-block;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    line-height: 30px;
    text-align: center;
}

.discount {
    background-color: red;
    display: inline-block;
    padding: 5px;
}

.eco {    
    background-color: rgb(91, 163, 36);
    display: inline-block;
    padding: 5px;
}

.details {
    color: white;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
}

.details {
    position: absolute;
    bottom: 100px;
}

/*
--------------
DEBUG---------
--------------
*/

.debug .box-container {
    background-color: aquamarine;
}

.debug .container {
    background-color: rgb(155, 155, 218);
    border: 2px dashed white;
}

.debug .card {
    background-color: bisque;
    border: 2px dashed rgb(146, 78, 89);
}

.debug div.photo {
    background-color: blueviolet;
}

.debug .card section.info {
    background-color: greenyellow;
}
/*
--------------
MAIN----------
--------------
*/

.card div.photo img {
    width: 100%;
    display: block;
    background-position: cover;
}