/*
--------------
RESET---------
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------
VARIABILI-----
--------------
*/

/*
--------------
TIPOGRAFIA----
--------------
*/

/*
--------------
COMMON--------
--------------
*/

/*
--------------
DEBUG---------
--------------
*/

/*
--------------
MAIN----------
--------------
*/